
body {
    margin: 0!important;
    padding: 0!important;
}

a:link {
    color: gray;
}
a:visited {
    color: green;
}
a:hover {
    color: rebeccapurple;
}
a:active {
    color: teal;
}

h2 {
    color: red;
}

.toast-body span {
    line-height: 1em;
    margin-top: 15px;
}

span.flag {
    margin: 0;
    padding: 0;
    font-size: 80px;
    display: inline-block;
    /*font-size: 90px;*/
    border: 3px dotted transparent;
}

div.container {
    margin: 0;
    padding: 0;
    max-width: none;
}
div.col-12 {
    max-width: 100%;
    padding: 0;
}

div.row {
    margin: 0;
}